@page
@model SchoolHub.Pages.Shared.MyProjectsModel
@{
	ViewData["Title"] = "Мои пректы";
}
	
<div class="container mt-5">
	<div class="d-flex justify-context-between align-items-center mb-4">
		<div>
			<h1 class="mb-1"> Мои проекты</h1>
			<p class="text-muted mb-0">Пользователь: @Model.CurrentUserName</p>
		</div>
		<span class="badge bg-success fs-6">Моих проектов: Model.MyProjectsCount</span>
	</div>
	@if(Model.Projects.Count == 0)
	{
		<div class="alert alert-info">
			У вас нету проектов.
		</div>
	}
	else
	{
		<div class="row">
			@foreach(var project in Model.Projects)
			{
				<div class="col-md-6 mb-4">
					<div class="card h-100 shadow-sm">
						<div class="card-body">
							<h4 class="card-title">@project.Title</h4>

							<p class="mb-2">
								<span class="badge bg-primary">@project.Category</span>
							</p>
							<p class="card-footer"></p>
						</div>

						<div class="card-footer">
							<small class="d-block text-muted mb-2">
								Дата создание @project.CreatedAt.ToString("dd.MM.yyyy HH:mm")
							</small>
							<form method="post" asp-page-handler="Delete" asp-route-itemid="@project">
								<button  type="submit" class="btn btn-danger btn-sm">Удалить</button>
							</form>
						</div>
					</div>
				</div>
			}

		</div>
	}

</div>


